<!DOCTYPE html>
<html lang="en" xmlns:background="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Pong</title>
  <script src="assets/pong/Build/UnityLoader.js"></script>
  <script>
    var unityInstance = UnityLoader.instantiate("gameContainer", "assets/pong/Build/Pong.json");
  </script>

  <meta name="author" content="eespunes"/>
  <meta name="theme-color" content="#000">
  <link rel="shortcut icon" href="assets/images/favicon.png">

  <!-- Vendor Css-->
  <link rel="stylesheet" href="assets/css/vendor.css"/>
  <link rel="stylesheet" href="assets/css/LineIcons.min.css"/>
  <link rel="stylesheet" href="assets/css/jquery.pagepiling.css"/>

  <!-- Liam - Template style Css -->
  <link href="assets/css/liam.css" rel="stylesheet">

  <!-- Custom style Css -->
  <link href="assets/css/custom.css" rel="stylesheet">
</head>
<body>
<!-- START: Preloader -->
<div id="preloader" class="preloader">
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- END: Preloader -->


<div id="pagepiling">

  <!-- START: Home -->
  <div class="section section-home" id="HOME">
    <div class="container">
      <div class="hero-content text-center">
        <h1>PONG</h1>
      </div>
      <div id="gameContainer" style="width: 106.66666666666666666666666666667vh; height: 60vh;margin:auto"></div>
    </div>
  </div>
  <!-- END: Home -->

  <!-- START: ABOUT -->
  <div class="section" id="ABOUT">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-5">

          <div class="about-desc wow fadeInUp" data-wow-duration="1s" data-wow-delay="500ms">
            <div class="about-desc-content">
              <div class="hero-content text-center">
                <h1>Controls</h1>
              </div>
            </div>

            <div class="about-desc-more text-left mt-3">
              <div class="row">
                <div class="col-md-6">
                  <div class="about-desc-info">
                    <div class="about-desc-info-content d-flex align-items-center hover-state b-box">
                      <div class="about-desc-icon">
                        <span>W</span>
                      </div>
                      <div class="about-desc-info-desc">
                        <span>Player 1 - Up</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-desc-info">
                    <div class="about-desc-info-content d-flex align-items-center hover-state b-box">
                      <div class="about-desc-icon">
                        <span>🠕</span>
                      </div>
                      <div class="about-desc-info-desc">
                        <span>Player 2 - Up</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-desc-info">
                    <div class="about-desc-info-content d-flex align-items-center hover-state b-box">
                      <div class="about-desc-icon">
                        <span>S</span>
                      </div>
                      <div class="about-desc-info-desc">
                        <span>Player 1 - Down</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-desc-info">
                    <div class="about-desc-info-content d-flex align-items-center hover-state b-box">
                      <div class="about-desc-icon">
                        <span>↓</span>
                      </div>
                      <div class="about-desc-info-desc">
                        <span>Player 2 - Down</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">

          <div class="about-desc wow fadeInUp" data-wow-duration="1s" data-wow-delay="500ms">
            <div class="about-desc-content">
              <div class="hero-content text-center">
                <h1>About the Game</h1>
              </div>
              <p>Since I was very little, I played videogames. I do not
                have any memory in which I was not holding a controller or a game device.<br>My real
                interest in making videogames, started the summer I finished secondary school (ESO in
                Spain) and I was about to start the baccalaureate, around 2014. I remember playing GTA
                V, and thinking, how they did it. I also would not be interested in videogames if was
                not for Assassin’s Creed, my favourite game saga. Since then, I started learning how to
                code videogames and decided to study computer science. However, I discovered a double
                university degree in computer science and videogames.<br>I do consider myself a good and
                hardworking programmer, always motivated to learn more programming and find the best
                solutions for the challenges I find along the way.
              </p>
            </div>

            <div class="about-desc-more text-left mt-3">
              <div class="row">
                <div class="col-md-6">
                  <div class="about-desc-info">
                    <div class="about-desc-info-content d-flex align-items-center hover-state b-box">
                      <div class="about-desc-icon">
                        <i class="lni lni-github"></i>
                      </div>
                      <div class="about-desc-info-desc">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://github.com/eespunes">Source Code</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-desc-info">
                    <div class="about-desc-info-content d-flex align-items-center hover-state b-box">
                      <div class="about-desc-icon">
                        <i class="lni lni-envelope"></i>
                      </div>
                      <div class="about-desc-info-desc">
                        <a href="mailto:erik.espunyes7@outlook.com">Contact</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: ABOUT -->

  <!-- START: SERVICES -->
  <div class="section" id="SERVICES">
    <div class="container">
      <div class="section-head text-center">
        <div class="hero-content text-center">
          <h1>Gameplay</h1>
        </div>
      </div>

      <div class="row mt-4">
      </div>
    </div>
  </div>
  <!-- END: SERVICES -->
  <canvas id="c"></canvas>
</div>
<!-- JAVASCRIPTS -->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/jquery.pagepiling.min.js"></script>

<script src="assets/js/imagesloaded.pkgd.js"></script>
<script src="assets/js/textition.min.js"></script>
<script src="assets/js/matrixRainGame.js"></script>

<!-- Contact Js -->
<script src="assets/js/contact.js"></script>

<!-- Custom Js -->
<script src="assets/js/custom.js"></script>
</body>
</html>